{% extends "index.twig" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark black-navbar">
	<img style="height: 42px; width: 42px; padding: 0;" src="/logo.png" class="navbar-brand">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/draw">Draw</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/chat">Chat</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log out</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container text-center">
    <img style="margin-top: 50px; max-width: 400px; max-height: 400px;" src="/uploads/{{photo}}" class="rounded" alt="Image">
    <p style="margin-top: 50px">{{ nickname }}</p>
    <p>{{ gender }}</p>
    <p>{{ birth }}</p>
    <p>{{ city }}</p>
    <p>{{ description }}</p>
    <a href="/draw/skip/{{ id+1 }}" class="button brown-button" style="margin-top: 25px;">Skip</a>
    <a href="/draw/add/{{ add_id }}" class="button brown-button">Add</a>
</div>
{% endblock %}